/*21/08/2023*/
/*Galeria de productos*/
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.productos {
    text-align: center;
    background-color: #fafafa;
    box-shadow: 3px 5px 8px rgba(33, 33, 37, 0.616);
    transition: transform 0.3s ease;
}
.productos img {
    width: 100%;
    height: auto;
    
}
.productos img:hover{
    opacity: 0.5;
    cursor: pointer;
    
}
.productos:hover{
    transform: scale(1.1);
}
.productos h3 {
    margin-top: 10px;
}
.productos p {
    margin-top: 5px;
}
/*Vista de un producto*/
.detalles{
    width: 100%;
    position: relative;
    margin: 10vh;
    margin-bottom: 100px;
    display: inline-flex;
}
.detalles img{
    width: 100%;
    margin: 5px;
}
.detalles p, h4{
    margin: 25px;
}