<body>

    <!--Buscador-->
    <div class="buscador">
        <form>
            <input type="text" id="search-input" placeholder="Buscar..." name="Busqueda">
            <button id="search-button" type="button"><img src="/assets/img/lupa.png" alt="Buscar"></button>
        </form>
    </div>
    <div id="search-results"></div>
    <script src="/assets/js/script.js"></script>
    
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items" id="contenedor-items" >

        </div>

        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

        <!--Visualizacion del contenido del carrito de compras-->
            <div class="carrito-items" id="carrito-items">

            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Total</strong>
                    <span class="carrito-precio-total">$120.000,00</span>
                </div>
                <button class="btn-pagar"> Comprar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
    
</body>