<!--10/08/2023-->
<body>
    
<!---Video y diseño de encabezado-->
    <div class="jumbotron">
        <video class="jumbotron__video" playsinline autoplay muted loop>
            <source src="/assets/video/pizza.mp4" type="video/mp4">
        </video>
        <div class="jumbotron__logo">
            <img src="/assets/img/Logo.png" alt="">
        </div>
    </div>

<!--Buscador-->
    <div class="buscador">
        <form>
            <input type="text" id="search-input" placeholder="Buscar..." name="Busqueda">
            <button id="search-button" type="button"><img src="/assets/img/lupa.png" alt="Buscar"></button>
        </form>
    </div>
    <div id="search-results"></div>
    <script src="/assets/js/script.js"></script>

<!---Galeria de productos--->
<section class="contenedor">
    <!-- Contenedor de elementos -->
    <div class="contenedor-items">
        <div class="item">
            <img src="/assets/img/tequeño.jpg" alt="" class="img-item">
            <span class="titulo-item">Tequeños 1</span>
            <span class="precio-item">$15.000</span>
            <span class="descripcion-item"><p>Descripcion</p></span>
            <span class="ver-item"><a href="catalogo">Ver mas</a></span>
        </div>
        <div class="item">
            <img src="/assets/img/tequeño.jpg" alt="" class="img-item">
            <span class="titulo-item">Tequeños 2</span>
            <span class="precio-item">$15.000</span>
            <span class="descripcion-item"><p>Descripcion</p></span>
            <span class="ver-item"><a href="catalogo">Ver mas</a></span>
        </div>
        <div class="item">
            <img src="/assets/img/tequeño.jpg" alt="" class="img-item">
            <span class="titulo-item">Tequeños 3</span>
            <span class="precio-item">$15.000</span>
            <span class="descripcion-item"><p>Descripcion</p></span>
            <span class="ver-item"><a href="catalogo">Ver mas</a></span>
        </div>
        <div class="item">
            <img src="/assets/img/tequeño.jpg" alt="" class="img-item">
            <span class="titulo-item">Tequeños 4</span>
            <span class="precio-item">$15.000</span>
            <span class="descripcion-item"><p>Descripcion</p></span>
            <span class="ver-item"><a href="catalogo">Ver mas</a></span>
        </div>   
    </div> 
</section> 


</body>
</html>