{{!-- <link rel="stylesheet" href="/assets/css/inicio_usuario.css"> --}}
<body>

<!---Video y diseño de encabezado-->
<div class="jumbotron">
    <video class="jumbotron__video_login" playsinline autoplay muted loop>
        <source src="/assets/video/pizza.mp4" type="video/mp4">
    </video>
</div>
<!--Seccion de registro de usuario-->
    <div class="iniciar_sesion"> 
        <img src="/assets/img/usuario.png">
        <h2>Iniciar Sesion</h2>
        <p>¡Bienvenido de nuevo! Ingresa a tu cuenta para disfrutar de una experiencia de compra única en <em>Antojitos Frit</em>. Si aún no tienes una cuenta, puedes registrarte fácilmente.</p>
    </br>
            <form>
                <input type="text" placeholder="Correo electronico" name="iniciar_correo">
                <input type="text" placeholder="Contraseña" name="iniciar_contraseña">
                <button type="submit">Iniciar sesion</button>
            </form>
    </div>

</body>