<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antojitos Frit</title>
    <link rel="stylesheet" href="/assets/css/estilos.css">
    <link rel="stylesheet" href="/assets/css/inicio_usuario.css">
</head>
<div>
<!--Encabezado-->
    <header class="header_text">
        <nav class="nav">
            <span id="titulo"> 
                Antojitos Frit
            </span>
            <!--Navegadores-->
            <ul class="nav__list">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./catalogo.html">Catalogo</a></li>
                <li><a href="">Registrate</a></li>
                <li><a href="./iniciar_sesion.html">Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>

    <header class="header_img">
        <nav class="nav_img">
            <span id="titulo_img"> 
                Antojitos Frit
            </span>
            <ul class="nav_img__list">
                <li><a href="./"><img src="../assets/img/home.png"></a></li>
                <li><a href="./catalogo.html"> <img src="../assets/img/carrito.png"></a> </a></li>
                <li><a href="./registro.html"> <img src="../assets/img/agregar.png"></a> </a></li>
                <li><a href="./iniciar_sesion.html"> <img src="../assets/img/usuario.png"></a> </a></li>
            </ul>
        </nav>
    </header>

<!---Video y diseño de encabezado-->
<div class="jumbotron">
    <video class="jumbotron__video_login" playsinline autoplay muted loop>
        <source src="/assets/video/pizza.mp4" type="video/mp4">
    </video>
</div>
    <!--Seccion de registro-->
    <div class="registro"> 
        <img src="/assets/img/agregar.png">
        <h2>Registrate</h2>
        <p>Crea tu cuenta en <em>Antojitos Frit</em> al registrarte, podras gestionar tus pedidos y recibir notificaiones.</p></br>
        <form action="http://localhost:3000/cliente" method="post" required>
            <input type="text" placeholder="Nombre" name="nombreCliente" required>
            <input type="text" placeholder="Telefono" name="telefonoCliente" required>
            <input type="text" placeholder="Correo electronico" name="correoCliente" required>
            <!-- <input type="password" placeholder="Contraseña" name="contraseñaCliente" required> -->
            <button type="submit" id="button" > Registrarse </button>
            
        </form>
    </div>

</body>
</html>