extends layouts/main.pug 

block content

    //Video y diseño de encabezado
    .jumbotron
        video.jumbotron__video_login(playsinline='' autoplay='' muted='' loop='') 
            source(src='/assets/video/pizza.mp4' type='video/mp4')

    //Seccion de registro
    .registro
        img(src='/assets/img/agregar.png')
        h2 Registrate
        p
            | Crea tu cuenta en 
            em Antojitos Frit
            | al registrarte, podras gestionar tus pedidos y recibir notificaiones.
            p -
        form(action='/registro' method='post')
            input(type='text' placeholder='Nombre' name='nombre' required='')
            input(type='text' placeholder='Telefono' name='telefono')
            input(type='text' placeholder='Correo electronico' name='correo')
            input(type='password' placeholder='Contraseña' name='contraseña' required='')
            button#button(type='submit')  Registrarse 
