extends layouts/main.pug 

block content
    // 21/08/2023
    div
        br
            span  Bienvenido @usuario  
    
    .usuario-contenedor
        .usuario-pedidos-historial
            h4 Historial de tus pedidos
            p -
            p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac posuere augue, ac dictum diam. Fusce at lectus eleifend, venenatis est at, ullamcorper eros.
            hr
            p
            | Donec facilisis ipsum vestibulum, ullamcorper libero in, pharetra mauris. Phasellus et vestibulum ligula. Phasellus vel mi non libero accumsan lacinia a ac nibh.
            hr
            p
            | Donec facilisis ipsum vestibulum, ullamcorper libero in, pharetra mauris. Phasellus et vestibulum ligula.
            hr
    
    .usuario-carrito
        .header-carrito
            h2 Tu Carrito
        p
        | Donec facilisis ipsum vestibulum, ullamcorper libero in, pharetra mauris. Phasellus et vestibulum ligula.
        button Agregar mas
        button  Comprar 
    
    .usuario-pedidos-estado
        h4 Estado de tu pedido
        br
        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac posuere augue, ac dictum diam. Fusce at lectus eleifend, venenatis est at, ullamcorper eros.
        hr