doctype html
// 10/08/2023

html(lang="en")

  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    each style in styles
      link(rel='stylesheet' href=`/assets/css/${style}.css`)

    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
    title Antojitos Frit


  body 

    // Encabezado
    header.header_text
      nav.nav
        span#titulo #{title}
        
        // Navegadores
        ul.nav__list
          li
            a(href='/') Inicio
          li
            a(href='/store') Catalogo

          if userId
            li 
              a(href='/userView') Perfil 
            li 
              a(href='/logout') Cerrar Sesion 
          else 
            li
              a(href='/register') Registrate
            li
              a(href='/login') Iniciar sesion
    // Encabezado responsive
    header.header_img
      nav.nav_img
        span#titulo_img Antojitos Frit

        ul.nav_img__list
          li
            a(href='./')
              img(src='../assets/img/home.png')
          li
            a(href='./store')
              img(src='../assets/img/carrito.png')
          li
            a(href='./register')
              img(src='../assets/img/agregar.png')
          li
            a(href='./login')
              img(src='../assets/img/usuario.png')

    block content

    // Pie de pagina
    footer
      .contenedores
        .contenedor1
          img(src='/assets/img/Logo.png')
          p Deliciosos Deditos: &iexcl;Una explosion de sabor en cada modisco!
        .contenedor2
          img(src='/assets/img/instagram.png')
          a(href='https://wa.me/+573213232151', target='_blank')
            img(src='/assets/img/whatsapp.png')
        .contenedor3
          //- p Antojitos Frit
          ul
            li
              a(href='./') Inicio
            li#about Acerca de
              .message 
                p "¡Bienvenido a Antojitos Frit, tu nuevo destino digital para disfrutar de deliciosos antojitos!"
            li 
              a(href='/store') Productos