<!--10/08/2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{#each styles}}
            <link rel="stylesheet" href="/assets/css/{{this}}.css">
    {{/each}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- <link rel="stylesheet" href="/assets/css/estilos.css">
    <link rel="stylesheet" href="/assets/css/catalogo.css">
    <link rel="stylesheet" href="/assets/css/usuario.css"> --}}
    <script src="/assets/js/catalogo.js" async></script>
    <title>Antojitos Frit</title>

</head>

<body>
<!--Encabezado-->
    <header class="header_text">
        <nav class="nav">
            <span id="titulo"> 
                {{title}}
            </span>
            <!--Navegadores-->
            <ul class="nav__list">
                <li><a href="./">Inicio</a></li>
                <li><a href="./catalogo">Catalogo</a></li>
                <li><a href="./registro">Registrate</a></li>
                <li><a href="./iniciar_sesion">Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>

<!--Encabezado responsive-->
<header class="header_img">
    <nav class="nav_img">
        <span id="titulo_img"> 
            Antojitos Frit
        </span>
        <ul class="nav_img__list">
            <li><a href="./"><img src="../assets/img/home.png"></a></li>
            <li><a href="./catalogo"> <img src="../assets/img/carrito.png"></a> </a></li>
            <li><a href="./registro"> <img src="../assets/img/agregar.png"></a> </a></li>
            <li><a href="./iniciar_sesion"> <img src="../assets/img/usuario.png"></a> </a></li>
        </ul>
    </nav>
</header>
    
{{{body}}}

<!--Pie de pagina-->
<footer >
    <div class="contenedores">
        <div class="contenedor1">
            <img src="/assets/img/Logo.png">
            <p>Deliciosos Deditos: ¡Una explosion de sabor en cada modisco!</p>
        </div>
    <div class="contenedor2">
        <img src="/assets/img/instagram.png">
        <img src="/assets/img/whatsapp.png">
    </div>
    <div class="contenedor3">
        <p>Antojitos Frit</p>
        <ul>
            <li><a href="./">Inicio</a></li>
            <li>Acerca de</li>
            <li>Productos</li>
        </ul>
    </div>
</div>
</footer>

</body>
</html>